﻿@model IEnumerable<DemoWithXML.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>User list</h2>


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            User Name
        </th>
        <th>
            Email Address
        </th>
        <th>
            Password Hash
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
